body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    background-image: url(fundo.png);
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin-top: 20px;
    color: #4CAF50;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 30%;
    height: 40%;
    background-image: url(prébatalha.png);
    background-size: cover;
    background-position: center;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}



.afundado {
    background-image: url(acerto.png);
    background-size: cover;
    background-position: center;
}

.agua {
    background-image: url(erro.png);
    background-size: cover;
    background-position: center;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}